@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
  --sidebar-bg: #f0f2f5;
  --chat-list-bg: #ffffff;
  --chat-bg: #e5ddd5;
  --accent: #00a884;
}

.dark {
  --background: #0b141a;
  --foreground: #ffffff;
  --sidebar-bg: #111b21;
  --chat-list-bg: #111b21;
  --chat-bg: #202c33;
  --accent: #00a884;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}